<app-main-menu-bar></app-main-menu-bar>

<div class="strip">
  List on gloqr to grow your business to millions of customers
</div>

<mat-card class="content">

  <h2 class="text-center">
    Why list on gloqr?
  </h2>

  <div class="text-center">
    <h3 style="color:#ed2301" class="text-bold">gloqr<sup style="font-weight: bold;">®</sup></h3>
    <h5 style="color: #9a9a9a">the business social app</h5>
  </div>

  <div class="content-para col-10">
    Like human beings businesses also need social environment to grow fast and effectively.
    gloqr is a digital platform specially designed for Small and Medium Enterprises (SME’s). gloqr offers following
    features for SME’s :
  </div>

  <hr>
  <div class="row text-center">
    <div class="col-md-1">

    </div>
    <div class="col-md-2">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <p class="line-header">
        gloqr shop
      </p>
    </div>
    <div class="col-md-8">
      <p class="line-statement">
        List your business on gloqr precisely with detail information to go global.
        You can list your business information like,
        1) Products you manufacture or deal with.
        2) Services you offer.
        3) Infrastructure like machinery, building or instruments.
        4) Display work culture in galleries.
        5) Show the powerful minds behind the business in management team (section) with experience and expertise
      </p>
    </div>
  </div>
  <hr>
  <div class="row text-center">
    <div class="col-md-1">

    </div>
    <div class="col-md-2">
      <i class="fa fa-briefcase" aria-hidden="true"></i>

      <p class="line-header">
        gloqr jobs
      </p>
    </div>
    <div class="col-md-8">
      <p class="line-statement">
        Recruit the operators and office staff with gloqr.
        Just upload the job recquirement and start receiving resumes of interested candidates.
      </p>
    </div>
  </div>
  <hr>
  <div class="row text-center">
    <div class="col-md-1">

    </div>
    <div class="col-md-2">
      <i class="fa fa-male" aria-hidden="true"></i>
      <p class="line-header">
        gloqr salesman
      </p>
    </div>
    <div class="col-md-8">
      <p class="line-statement">
        Now send quotations without human interference, let gloqr be your sales executive. Send instant quotations when
        you are not in office or enjoying your holidays. Manage all the leads at one place in cart.
      </p>
    </div>
  </div>
  <hr>
  <div class="row text-center">
    <div class="col-md-1">

    </div>
    <div class="col-md-2">
      <i class="fa fa-line-chart" aria-hidden="true"></i>
      <p class="line-header">
        gloqr mylead
      </p>
    </div>
    <div class="col-md-8">
      <p class="line-statement">
        Allows you to receive a lead information clicked on your products or services.
        gloqr never shares your leads to other suppliers, your lead is only yours. Other lead generating sites share
        your
        product or services lead to multiple suppliers which lowers the possibility of conversion of lead to business
      </p>
    </div>
  </div>
  <hr>
  <div class="row text-center">
    <div class="col-md-1">

    </div>
    <div class="col-md-2">
      <i class="fa fa-users" aria-hidden="true"></i>


      <p class="line-header">
        gloqr circle
      </p>
    </div>
    <div class="col-md-8">
      <p class="line-statement">
        Don’t sit idle in wait and watch mode, Now take the proactive approach. Connect with other businesses or
        prospective customers by sending Circle Invite Request & build your Business Social Circle.
        You can broadcast specific business information to your business circle
        like
        1) Purchase of a new machinery.
        2) Start of a new branch.
        3) Acquisition of new big a customer.
        4) Completion of a flagship project.
        5) Successful delivery and installation of a critical project.
        6) New product release, new capacity addition and so on.
        Let your Business circle know what you are doing, and if you want to share the same information openly to all
        the people globally then post it in public mode, That information will appear on your gloqr page in social post
        section.
      </p>
    </div>
  </div>
</mat-card>

<div id="destination">
  <app-pricing-table></app-pricing-table>
</div>