<div class="sme-admin-table">
  <mat-card class="card">
    <h4>Product Publish Setting</h4>
    <div class="radio-button">
      <input type="radio" name="optradio" checked (click)="onActive()" class="titile">&nbsp;
      Active Products&nbsp;
      <input type="radio" name="optradio" (click)="onInActive()" class="titile">&nbsp;
      De-Active Products
    </div>

    <div class="table table-striped table-responsive" *ngIf="products">
      <table class="table">
        <thead>
          <tr class="text-center">
            <th>#</th>
            <th>Product</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Created Date</th>
            <th>Modified Date</th>
            <th>gloqr Status</th>
            <th *ngIf="!isActive">Auto Quotation</th>
            <th *ngIf="isActive">User Status</th>
            <th *ngIf="isActive">Edit</th>
            <th *ngIf="isActive">Delete</th>
            <th>FeedBack Message</th>
          </tr>
        </thead>
        <tbody *ngFor="let product of products;let i=index">
          <tr>
            <td>
              <div class="checkbox">
                <input type="checkbox"
                  (click)="onclickCheckbox(product.productUuid,!product.active,product.businessPost)">
              </div>
            </td>

            <td class="text-center">
              <a href="/products/{{product.productUrlName}}/p/{{product.productUuid}}"
                matTooltip="{{product.productName}}" target="_blank" class="productName">
                {{product.productName |productNamePipe }}
              </a>
            </td>
            <td class="text-center">{{product.price | IndianCurrency}} / {{product.priceUnit}} </td>
            <td *ngIf="product.discount" class="text-center">{{product.discount}} %</td>
            <td *ngIf="!product.discount" class="text-center"></td>

            <td class="text-center">{{product.createdAt | date:'medium'}}</td>
            <td class="text-center">{{product.updatedAt | date:'medium'}}</td>
            <td class="text-center">{{product.productState}}</td>
            <td *ngIf="product.active" class="text-center">
              <mat-slide-toggle [(ngModel)]="product.autoQuotation"
                (change)="onSendQuotation($event,product.productUuid)"></mat-slide-toggle>
            </td>
            <td *ngIf="!product.active" class="text-center">Deactivated</td>
            <td *ngIf="isActive" class="text-center">
              <a href onclick="return false" class="pull-right">
                <i class="material-icons edit-button" matTooltip="Edit" routerLink="/my-sme/{{sUuid}}/update-product"
                  [queryParams]="{ p:product.productUuid}" matTooltipPosition="left">
                  create
                </i>
              </a></td>
            <td *ngIf="isActive" class="text-center">
              <i class="material-icons" matTooltip="Remove" (click)="onDelete(product,i)" matTooltipPosition="right"
                style="color: rgb(175, 45, 45);cursor: pointer;">
                delete
              </i>
            </td>
            <td style="text-align: justify">{{product.feedbackMessage}}</td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="buttons" *ngIf="products">
      <div class="row">

        <div class="col-md-3 mb-1">
          <button type="button" class="btn btn-outline-dark">
            Total Selected : {{selectedProductSize}}
          </button>
        </div>
        <div class="col-md-3 mb-1">
          <a href="" onclick="return false" (click)="addNewProductClick()">
            <button type="button" class="btn btn-success">Add New Product</button>
          </a>
        </div>
        <div class="col-md-3 mb-1">
          <a href="" onclick="return false" (click)="viewAllProductClick()">
            <button type="button" class="btn btn-warning">View all Product</button>
          </a>
        </div>
        <div class="col-md-3 mb-1" *ngIf="publishProductButton;else Deactivated">
          <div *ngIf="showButton;else disabled">
            <button mat-raised-button class="global-btn" (click)="onClickDeactive()" [disabled]="disableDeactiveButton">
              Deactivate
              Product
            </button>
          </div>
          <ng-template #disabled>
            <div class="text-center">
              <button disabled type="button" class="btn btn-default ">
                <mat-spinner class="spinner" strokeWidth="4" [diameter]="15">
                </mat-spinner> Saving...please wait
              </button>
            </div>
          </ng-template>
        </div>
        <ng-template #Deactivated>
          <div *ngIf="showButton;else disabled1">
            <button mat-raised-button class="global-btn" (click)="onClickPublish()" [disabled]="disablePublishButton">
              Publish
              On gloqr
            </button>
          </div>
          <ng-template #disabled1>
            <div class="text-center">
              <button disabled type="button" class="btn btn-default ">
                <mat-spinner class="spinner" strokeWidth="4" [diameter]="15">
                </mat-spinner> Saving...please wait
              </button>
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
    <div *ngIf="showSpinner" class="spinner">
      <mat-spinner strokeWidth="5" [diameter]="50"></mat-spinner>
    </div>
    <div *ngIf="notFound">
      <img alt="Not Found" class="not-found-image" src="../../../../assets/not-found/no-data-found.png">
    </div>
  </mat-card>
</div>