<div class="container">
  <h2>Add Categories</h2>
  <div class="row">
    <div class="col-md-4 p-5">
      <h4>
        <a href routerLink="/gloqr-admin/add-product-category">+ Add Product Category</a>
      </h4>
    </div>
    <div class="col-md-4 p-5">
      <h4>
        <a href routerLink="/gloqr-admin/add-service-category">+ Add Service Category</a>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 p-5">
      <h4>
        <a href routerLink="/gloqr-admin/add-product-price-units">+ Add Product Price Units</a>
      </h4>
    </div>
    <div class="col-md-4 p-5">
      <h4>
        <a href routerLink="/gloqr-admin/add-service-price-units">+ Add Service Price Units</a>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 p-5">
      <h4>
        <a href routerLink="/gloqr-admin/add-sme-category">+ Add SME Category</a>
      </h4>
    </div>
    <div class="col-md-4 p-5">
      <h4>
        <a href routerLink="/gloqr-admin/add-industrial-area">+ Add Industrial Area</a>      </h4>
    </div>
    <div class="col-md-4 p-5">
      <h4>
        <a href routerLink="/gloqr-admin/add-job-role">+ Add Job Role</a>
      </h4>
    </div>
  </div>

</div>