<div class="fluid-container">
  <div class="bg-img">
    <img alt="Job" src="../../../assets/job-seeker/job-seeker-bg.jpeg" class="job-bg">
    <mat-card class="card">
      <header class="cp-header">
        <h2 class="headline">Job Seeker</h2>
        <h3 class="sub-headline">
          Searching for a Job? We will suggest you a better option, Just create your Job Seeker Profile and get
          multiple Job opportunity on gloqr.
        </h3>
        <h3 class="sub-headline">
          Are you Ready ?
        </h3>
      </header>

      <div class="image text-center mb-4">
        <img alt="Job" src="../../../assets/job-seeker/jobseeker.png" class="seeker-img">
      </div>

      <div class="action-button">
        <button mat-stroked-button class="default-btn" (click)="doItLater()">
          Do it later
        </button>
        <button mat-raised-button class="global-btn" (click)="yesIn()">
          Yes, I'm In
        </button>
      </div>
    </mat-card>
  </div>
</div>