<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>About</h5>
        <ul>
          <li><a href="/pages/contact-us">Contact Us</a></li>
          <li><a href="/pages/about-us">About Us</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Policy</h5>
        <ul>
          <li><a href="/pages/terms-and-condition">Terms Of Use</a></li>
          <li><a href="/pages/privacy-policy">Privacy</a></li>
          <li><a href="/pages/shipping">Shipping</a></li>
          <li><a href="/pages/cancellation-return">Return & Cancellation</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Address</h5>
        <ul>
          <!-- <li>SumanaBh Software Pvt. Ltd.</li> -->
          <li>Office Number 24, Third Floor,</li>
          <li>Lokmanya House, Paud Road,</li>
          <li>Kothrud, Pune - 411038, India</li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="social-networks">
          <a href="https://twitter.com/sumanabh1" target="_blank" class="twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="https://www.facebook.com/sumanabh.software/" target="_blank" class="facebook">
            <i class="fa fa-facebook-f"></i>
          </a>
          <a href="https://in.linkedin.com/company/sumanabh" target="_blank" class="linked-in">
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    © 2020 Powered by gloqr | All Rights Reserved.
  </div>
</footer>