<mat-card>
  <div>
    <h4 class="slider-title">Top Listed SME's
      <a href class="view-all" routerLink="/smes/fetch">View More</a>
    </h4>
  </div>
  <hr>
  <ngu-carousel [inputs]="carousel" [dataSource]="smes">
    <div NguCarouselItem class="item text-center" *nguCarouselDef="let sme; let i=index;">

      <div class="text-center pl-3 pr-3">
        <div class="item-img">
          <a href="/sme/{{sme.sUuid}}" target="_blank">
            <img alt="SME" mat-card-lg-image [src]="contentServer + sme.logoImage" alt="sme-logo" onError="this.src='../assets/not-found/no_image.png';">
          </a>
        </div>

        <div class="item-name">
          <a href="/sme/{{sme.sUuid}}" matTooltip="{{sme.smeName}}" target="_blank" class="sme-name">
            {{sme.smeName | smeNamePipe}}
          </a>
          <br>
          <a *ngIf="sme.smeAddress" class="sme-address">
            {{sme.smeAddress.locality}}, {{sme.smeAddress.city}}
          </a>
        </div>

        <div class="product-service-action">
          <div *ngIf="sme.status=='OWNER';else check">

          </div>
          <ng-template #check>
            <div *ngIf="!sme.status">
              <button mat-flat-button (click)="onClickCircleInvite(sme,i)"><i class="fa fa-link"></i>&nbsp; Circle
                Invite</button>
            </div>

            <div *ngIf="sme.status">
              <div *ngIf="sme.status=='NEW'">
                <button mat-flat-button [disabled]="sme.sUuid===isDisableId" (click)="onClickCircleInvite(sme,i)"><i
                    class="fa fa-link"></i>&nbsp; Circle Invite</button>
              </div>
              <div *ngIf="sme.status=='RECIEVED_REQ'">
                <button mat-button color="primary" disabled><i class="fa fa-hourglass-end" aria-hidden="true"></i>&nbsp;Pending
                  Request</button>
              </div>
              <div *ngIf="sme.status=='SENT_REQ'">
                <button mat-button color="primary" disabled><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;
                  Request Sent</button>
              </div>
              <div *ngIf="sme.status=='OWNER'">
              </div>
              <div *ngIf="sme.status=='CONNECTED'">
                <button mat-button color="primary" disabled><i class="fa fa-handshake-o" aria-hidden="true"></i>&nbsp;In-Circle</button>
              </div>
            </div>
          </ng-template>
        </div>

      </div>
    </div>
    <button NguCarouselPrev class="arrow-left">
      <i class="fa fa-angle-left arrow-icon-size"></i>
    </button>

    <button NguCarouselNext class="arrow-right">
      <i class="fa fa-angle-right arrow-icon-size"></i>
    </button>
  </ngu-carousel>
</mat-card>