@import'../../../../../../app/css/super-admin.css';

::ng-deep.plain-container .image {
    height: 520px !important;
    width: 100% !important;
    margin: 10px 5px !important;
    object-fit: contain;
    border: 1px solid #ccc;
}
.img-src
{
    object-fit: contain;
    
}
.fileLocationOne
{
    height: 320px;
    width: 300px;
}
.fileLocationTwo
{
    height: 120px;
    width: 120px;
}