<div class="container">
    <div class="mx-auto">
      <mat-card class="un-subscribe-card">
        <div class="unsubscribe">
          <div class="unsubscribe-heading text-center">
            <p class="heading">Done!</p>
          </div>
          <hr>
          <div class="email-box text-center">
            <strong>{{unSubscribeEmailId}}</strong>
            <br>
            <span>has been successfully unsubscribed from our mailing list(s)</span>
          </div>
        </div>
      </mat-card>
    </div>
  </div>