@import'../../../css/action-button.css';
.show-result{
    display: inline-block;
    margin-left: 10px;
    color: #878787;
    font-size: 12px;
}
.vacancy-card
{
    margin-bottom: 15px;
}

.count
{
    float: right;
    font-size: 13px;
    margin-top: -10px;
}
.spinner{
    padding: 300px 50%;
}
.vacancy-title-text
{
    color: #0073b6;
}
.sme-name-text
{
    font-size: 15px;
    color: #000000;
}
a
{
    text-decoration: none;
}

.posted-by
{   
    font-size: 16px;
    font-weight: 500;
    float: right;
    color: #7d7d7d;
}
hr{
    border-top: 1px dotted #a5a2a2;
}
.icons
{
    font-size: 14px;
    color: #171717;
}
.jobDesc
{
    font-size: 12px;
    color: #4c4c4c;
    word-break: break-word;
}
.mat-raised-button
{
    width: auto;
    float: right;
    bottom: 25px;
}
.vacancy-card:hover{
    background: #e9e9e9;
}

.view-detail
{
    float: right;
    bottom: 24px;
    margin-right: 13px;
}
.b
{
    border-radius: 24px;
    text-align: right;
}
.short-listed-btn
{
    color: #ffff;
    background-color: #0f7708;
    cursor: not-allowed;
    margin-right: 10px;
}
mark {
    padding: .2em;
    background-color: #f7d109;
}
