<nav class="navbar navbar-expand-lg bg-white fixed-top">

  <a class="navbar-brand" routerLink="/">
    <img alt="Gloqr" src="../../../../assets/logo/logo.png" (click)="scrolltoTop()" class="home-logo">
    <!-- <span class="beta">βeta</span> -->
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <div class="search-box">
      <form (ngSubmit)="searchBtnClick()">
        <div class="input-group">
          <button type="button" class="btn btn-default dropdown-toggle select-dropbtn" data-toggle="dropdown">
            {{selectedCategory}}
          </button>
          <ul class="dropdown-menu select-menu" role="menu">
            <li *ngFor="let sc of searchCategory;let i=index" (click)="onClickCategory(sc)">
              {{sc}}
            </li>
          </ul>

          <mat-form-field class="form-field" floatLabel="never">
            <input type="text" placeholder="Search for sme's, products or services" aria-label="Number" matInput
              [formControl]="searchText" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">

              <div *ngIf="productSuggests?.length > 0">
                <div class="search-result-title">Products</div>
                <div *ngFor="let p of productSuggests" class="search-results">
                  <a href onclick="return false" [routerLink]="['/','search','p']" [queryParams]="{searchText: p}"
                    (click)="addHistory(p,PRODUCT)">
                    <mat-option [value]="p">
                      <i class="fa fa-search text-grey"></i>&nbsp;&nbsp;&nbsp; {{p}}
                    </mat-option>
                  </a>
                </div>
              </div>

              <div *ngIf="serviceSuggests?.length > 0">
                <div class="search-result-title">Services</div>
                <div *ngFor="let s of serviceSuggests" class="search-results">
                  <a href onclick="return false" [routerLink]="['/','search','s']" [queryParams]="{searchText: s}"
                    (click)="addHistory(s,SERVICE)">
                    <mat-option [value]="s">
                      <i class="fa fa-search text-grey"></i>&nbsp;&nbsp;&nbsp; {{s}}
                    </mat-option>
                  </a>
                </div>
              </div>

              <div *ngIf="smeSuggests?.length">
                <div class="search-result-title">SME's</div>
                <div *ngFor="let s of smeSuggests" class="search-results">
                  <a href onclick="return false" (click)="addHistory(s,SME)" [routerLink]="['/','search','res']"
                    [queryParams]="{searchText: s}">
                    <mat-option [value]="s">
                      <i class="fa fa-search text-grey"></i>&nbsp;&nbsp;&nbsp; {{s}}
                    </mat-option>
                  </a>
                </div>
              </div>
              <div *ngIf="searchHistory?.length > 0">
                <div class="border-bottom"></div>
                <mat-option *ngFor="let h of searchHistory" [value]="h.data">

                  <a *ngIf="h.type == PRODUCT" href onclick="return false" [routerLink]="['/','search','p']"
                    [queryParams]="{searchText: h.data}">
                    <i class="fa fa-history text-grey"></i>&nbsp;&nbsp;&nbsp; {{h.data}}
                  </a>

                  <a *ngIf="h.type == SERVICE" href onclick="return false" [routerLink]="['/','search','s']"
                    [queryParams]="{searchText: h.data}">
                    <i class="fa fa-history text-grey"></i>&nbsp;&nbsp;&nbsp; {{h.data}}
                  </a>

                  <a *ngIf="h.type == SME" href onclick="return false" [routerLink]="['/','search','res']"
                    [queryParams]="{searchText: h.data}">
                    <i class="fa fa-history text-grey"></i>&nbsp;&nbsp;&nbsp; {{h.data}}
                  </a>

                  <a *ngIf="h.type == ALL" href onclick="return false" [routerLink]="['/','search','all']"
                    [queryParams]="{searchText: h.data}">
                    <i class="fa fa-history text-grey"></i>&nbsp;&nbsp;&nbsp; {{h.data}}
                  </a>

                </mat-option>
              </div>

            </mat-autocomplete>
          </mat-form-field>

          <button class="btn btn-default searchbtn" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
    </div>


    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="openVideoPopUp()" target="_blank">
          <i class="fa fa-video-camera " aria-hidden="true"></i>
          Help
        </a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" (click)="login()">Login & Sign up</a>
      </li>

      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" [routerLink]="isSME ? ['/cart/received'] : ['/cart']">
          <span *ngIf="cartCount;else default">
            <i class="fa fa-shopping-cart nav-custom-icon" matBadge="{{cartCount}}" matBadgeSize="medium"
              matBadgeColor="warn">
            </i>&nbsp;
          </span>
          <ng-template #default>
            <i class="fa fa-shopping-cart nav-custom-icon">
            </i>
          </ng-template> Cart
        </a>
      </li>


      <li class="nav-item" *ngIf="isSME">
        <a class="dropdown nav-link">
          <span *ngIf="pendingCount;else default1">
            <i class="fa fa-users nav-custom-icon" matBadge="{{pendingCount}}" matBadgeSize="medium"
              matBadgeColor="warn">
            </i>&nbsp;
          </span>
          <ng-template #default1>
            <i class="fa fa-users nav-custom-icon">
            </i>
          </ng-template>

          Business Social <i class="fa fa-angle-down"></i>

          <div class="dropdown-content">
            <a class="dropdown-item" routerLink="/social/{{sUuid}}/my-connection-home">
              <span class="link-title"> My Business Circle ({{myconnectionCount}}) </span>
            </a>
            <a routerLink="/social/{{sUuid}}/people-you-may-know" class="dropdown-item">
              <span class="link-title"> Build Business Circle </span>
            </a>
            <a class="dropdown-item" routerLink="/social/{{sUuid}}/pending-request-home">
              <span class="link-title"> Circle Invites Received ({{pendingCount}}) </span>
            </a>
            <a class="dropdown-item" routerLink="/social/{{sUuid}}/sent-request-home">
              <span class="link-title"> Circle Invites Sent ({{sentCount}})</span>
            </a>
            <a class="dropdown-item" routerLink="/social/{{sUuid}}">
              <span class="link-title"> Write a Business Post </span>
            </a>
          </div>
        </a>
      </li>

      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/pricing">
          <i class="fa fa-inr"></i> Pricing</a>
      </li>
      <li *ngIf="isLoggedIn">
        <span *ngIf="profileImage; else intialLetter">
          <img [src]="contentServer+profileImage" class="avatar" onError="this.src='../assets/logo/noimage.png'">
        </span>
        <ng-template #intialLetter>
          <ngx-avatar name="{{userName}}" size="32" class="my-avatar"></ngx-avatar>
        </ng-template>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="dropdown nav-link">
          <span>{{userName}} <i class="fa fa-angle-down">
            </i>
          </span>
          <div class="dropdown-content">
            <a routerLink="/account/{{uuid}}" class="dropdown-item">
              <span class="link-title"> User Profile </span>
            </a>
            <a routerLink="/job-seeker/{{uuid}}/job-seeker-display" class="dropdown-item" *ngIf="isNormalUser">
              <span class="link-title"> Job Seeker </span>
            </a>
            <a routerLink="/my-sme/{{sUuid}}/profile" class="dropdown-item" *ngIf="isSME">
              SME Profile
            </a>
            <a routerLink="/my-sme/{{sUuid}}/admin/products" class="dropdown-item" *ngIf="isSME">
              Admin Page
            </a>
            <a routerLink="/my-sme/{{sUuid}}/business-credits" class="dropdown-item" *ngIf="isSME">
              Business Credits
            </a>
            <a routerLink="/pricing" class="dropdown-item" *ngIf="isSME">
              Package Upgrade
            </a>
            <a class="nav-link" class="dropdown-item" (click)="logout()">
              Logout
            </a>
          </div>
        </a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn || isNormalUser">
        <a class="nav-link" routerLink="/list-on-gloqr">
          List on gloqr
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn && isSME">
        <a class="nav-link" routerLink="/my-sme/{{sUuid}}/home">Your Website</a>
      </li>
    </ul>

  </div>
</nav>
<div class="margin">

</div>