.deleteButton
{
    width: 25%;
}
.delete-permission
{
    font-size: 16px;
    padding: 20px;
    color: #666;
}

.delete-button
{
    color: #ffffff;
    background-color: #0073b6;
}
.action-button
{
    text-align: right;
}
.close-icon
{
    float: right;
}
::ng-deep.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0.8;
}
::ng-deep.cdk-overlay-dark-backdrop {
    background: #000;
}
.highlight
{
    color: #0073b6;
}
