<div class="text-center">
  <div class="container">
    <div class="delete-permission mt-3">
      <p>Are you sure you want to

        <span *ngIf="this.data.cirlceObjects.smeName"> remove <span
            class="highlight">{{this.data.cirlceObjects.smeName}}</span>
        </span>

        <span *ngIf="this.data.cirlceObjects.certificateType">delete <span
            class="highlight">{{this.data.cirlceObjects.certificateType}}</span></span>

        <span *ngIf="this.data.cirlceObjects.machineName">delete <span
            class="highlight">{{this.data.cirlceObjects.machineName}}</span></span>

        <span *ngIf="this.data.cirlceObjects.galleryTitle">delete <span
            class="highlight">{{this.data.cirlceObjects.galleryTitle}}</span></span>

        <span *ngIf="this.data.cirlceObjects.fullName">delete <span
            class="highlight">{{this.data.cirlceObjects.fullName}}</span></span>

        <span *ngIf="this.data.cirlceObjects.candidateName"> reject <span
            class="highlight">{{this.data.cirlceObjects.candidateName}}</span></span>

        <span *ngIf="this.data.cirlceObjects.userFullName">delete Your<span class="highlight"> Profile
            Picture</span></span>

        <span *ngIf="this.data.cirlceObjects.productDisplayName">delete <span
            class="highlight">{{this.data.cirlceObjects.productDisplayName}}</span></span>

        <span *ngIf="this.data.cirlceObjects.serviceDisplayName">delete <span
            class="highlight">{{this.data.cirlceObjects.serviceDisplayName}}</span></span>

        <span *ngIf="this.data.cirlceObjects.resumeFileName">delete <span
            class="highlight">{{this.data.cirlceObjects.resumeFileName}}</span></span>

        <span *ngIf="this.data.cirlceObjects.businessPostId">delete this post</span>?</p>
    </div>

    <div class="action-button" *ngIf="showButton;else disabled">
      <span *ngIf="this.data.cirlceObjects.smeName">
        <div>
          <button type="button" class="btn btn-default delete-button" (click)="onDelete()">Remove</button>
        </div>
      </span>
      <span
        *ngIf="this.data.cirlceObjects.certificateType || this.data.cirlceObjects.machineName || this.data.cirlceObjects.galleryTitle || this.data.cirlceObjects.fullName 
      || this.data.cirlceObjects.productDisplayName || this.data.cirlceObjects.serviceDisplayName || this.data.cirlceObjects.userFullName  || this.data.cirlceObjects.resumeFileName">
        <button type="button" class="btn btn-default delete-button" (click)="onDelete()">Delete</button>
      </span>

      <span *ngIf="this.data.cirlceObjects.businessPostId">
        <button type="button" class="btn btn-default delete-button" (click)="onDelete()">Delete</button>
      </span>

      <span *ngIf="this.data.cirlceObjects.applicantUuid">
        <button type="button" class="btn btn-default delete-button" (click)="onDelete()">Reject</button>
      </span>

      <button type="button" class="btn btn-link" (click)="onClickNo()">Cancel</button>
    </div>
    <ng-template #disabled>
      <div class="text-center">
        <button disabled type="button" class="btn btn-default ">
          <mat-spinner class="spinner" strokeWidth="4" [diameter]="15">
          </mat-spinner> Saving...please wait
        </button>
      </div>
    </ng-template>
  </div>


</div>