<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-3">
        <h5>About</h5>
        <ul>
          <li><a routerLink="/pages/contact-us">Contact Us</a></li>
          <li><a routerLink="/pages/about-us">About Us</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Policy</h5>
        <ul>
          <li><a routerLink="/pages/terms-and-condition">Terms Of Use</a></li>
          <li><a routerLink="/pages/privacy-policy">Privacy</a></li>
          <li><a routerLink="/pages/shipping">Shipping</a></li>
          <li><a routerLink="/pages/cancellation-return">Return & Cancellation</a></li>
        </ul>
      </div>
      <!-- <div class="col-sm-3">
        <h5>Address</h5>
        <ul>
          <li>SumanaBh Software Pvt. Ltd.</li>
          <li>Office Number 24, Third Floor,</li>
          <li>Lokmanya House, Paud Road,</li>
          <li>Kothrud, Pune - 411038, India</li>
        </ul>
      </div> -->
      <div class="col-sm-3">
        <div class="social-networks">
          <a href="https://www.facebook.com/gloqr.business/" target="_blank" id="facebook">
            <i class="fa fa-facebook-f"></i>
          </a>

          <a href=" https://www.linkedin.com/company/gloqr-business/" target="_blank" id="linked-in">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="https://twitter.com/gloqr_business" target="_blank" id="twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="https://www.youtube.com/channel/UCxSCUlG1nm0pqMxyjT1b13w/featured?view_as=subscriber" target="_blank"
            id="youtube">
            <i class="fa fa-youtube"></i>
          </a>
          <a href="https://www.instagram.com/gloqr_business/" target="_blank" id="instagram">
            <i class="fa fa-instagram"></i>
          </a>

        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    © 2020 gloqr<sup>® </sup>| All Rights Reserved.
  </div>
</footer>