<div class="sme-update-certificate-form">
  <div class="sme-object-form">
    <form [formGroup]="updateCertificateForm" class="">
      <div class="margin-auto no-shadow no-bg no-padding">
        <h4>Update Certificate</h4>
      </div>
      <mat-card class="card margin-auto">
        <div class="mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Certificate Name</mat-label>
            <input matInput placeholder="Type of Certificate ex.ISO,Patent" formControlName="certificateType" required
              autocomplete="off" spellcheck="true">
            <mat-hint align="end">Not more then 50 characters long.</mat-hint>
            <mat-error *ngIf="updateCertificateForm.get('certificateType').hasError('required')">
              Certificate Name
              required
            </mat-error>
            <mat-error *ngIf="updateCertificateForm.get('certificateType').hasError('maxlength')">
              Certificate Name Should be Maximum 50 characters
            </mat-error>
            <mat-error *ngIf="updateCertificateForm.get('certificateType').hasError('minlength')">
              Certificate Name should be of 
              minimum 3 characters
            </mat-error>
          </mat-form-field>
        </div>

        <div class="mb-2">
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="certificateDesc" rows="5" #certDesc required
              spellcheck="true"></textarea>
            <mat-error *ngIf="updateCertificateForm.get('certificateDesc').hasError('required')">
              Description is required
            </mat-error>
            <mat-hint align="end">{{certDesc.value?.length || 0}}/500</mat-hint>
            <mat-error *ngIf="updateCertificateForm.get('certificateDesc').hasError('maxlength')">
              Description should be of
              500 characters long
            </mat-error>
            <mat-error *ngIf="updateCertificateForm.get('certificateDesc').hasError('minlength')">
              Description should be of
              atleast 20 characters
            </mat-error>
          </mat-form-field>
        </div>

        <div class="select-image">
          <label>
            Certificate Image <span>*</span>
          </label>
          <input accept=".png,.jpeg,.jpg" onclick="value = null" style="display: none" type="file" multiple
            (change)="onFileChanged($event.target.files)" #fileInput>
          <button [disabled]="selectedImages?.length === 5" type="button" class="btn btn-secondary"
            (click)="fileInput.click()">Select
            File</button>
          <span *ngIf="imageRequired" style="margin-left: 10px;color: red">Please select atleast 1 Image</span>
        </div>

        <div class="image-types">
          Image file size should be less than 300kb. Supported formats are: .jpeg .jpg .png
        </div>

        <div class="upload-progress" *ngIf="showUploadProgress">
          <mat-progress-bar mode="determinate" value="{{progressPercent}}"></mat-progress-bar>
        </div>

        <div class="upload-fail" *ngIf="imageUploadFail">
          <span>Image Uploadation Failed..please try again!!</span>
        </div>

        <div class="upload-fail" *ngIf="imageSizeError">
          <span>Image file size should be less than 300kb</span>
        </div>
        <div class="upload-fail" *ngIf="imageTypeError">
          <span>Please select correct file format...Supported formats are: .jpeg .jpg .png</span>
        </div>

        <div class="row image-display">
          <div *ngFor="let image of uploadedImages;let i=index" class="image-uploaded">
            <div *ngIf="image;else default">
              <img mat-card-md-image [src]="contentServer + image.imageLocation" class="border">
              <div class="text-center" style="margin-top: 10px">
                <button type="button" mat-icon-button matTooltip="delete" (click)="deleteImageCertificate(i,image)">
                  <i class="material-icons">close</i>
                </button>
              </div>
            </div>
            <ng-template #default>
              <div class="default-image">
                <img mat-card-md-image src="../../../../../../assets/logo/default.png" class="border">
              </div>
            </ng-template>
          </div>
        </div>

        <div class="row" *ngIf="showButton;else disabled">
          <div class="col-md-3">

          </div>
          <div class="col-md-3">
            <button mat-raised-button class="global-btn" (click)="onUpdateCertificate(publish)">
              Save & Publish
            </button>
          </div>
          <div class="col-md-3">
            <button mat-stroked-button class="cancle-btn" [routerLink]="['../certificates']">Cancel</button>
          </div>
          <div class="col-md-3">
            <button mat-stroked-button class="default-btn" (click)="onUpdateCertificate(draft)">
              Save as draft
            </button>
          </div>
        </div>
        <ng-template #disabled>
          <div class="text-center">
            <button disabled type="button" class="btn btn-default ">
              <mat-spinner class="spinner" strokeWidth="4" [diameter]="15">
              </mat-spinner> Saving...please wait
            </button>
          </div>
        </ng-template>
      </mat-card>
    </form>
  </div>
</div>