@import '../../../css/sme-web-content.css';

.links-section{
   padding: 30px;
   text-align: center;
}
.link-icon{
   color: #1b5790;
   font-size: 3.5rem;
}
.links-section a{
   padding: 15px;
   font-size: 14px;
}