<div class="container text-center sticky">
  <div class="btn-group-vertical btn-block">
    <button type="button" class="btn btn-outline-danger p d" [routerLink]="['products']" routerLinkActive="active">
      Products
    </button>
    <button type="button" class="btn btn-outline-danger p d" [routerLink]="['services']" routerLinkActive="active">
      Services
    </button>
    <button type="button" class="btn btn-outline-danger p d" [routerLink]="['certificates']" routerLinkActive="active">
      Certificates
    </button>
    <button type="button" class="btn btn-outline-danger p d" [routerLink]="['infrastructure']" routerLinkActive="active">
      Infrastructure
    </button>
    <button type="button" class="btn btn-outline-danger p d" [routerLink]="['team']" routerLinkActive="active">
     Team
    </button>
    <button type="button" class="btn btn-outline-danger p d" [routerLink]="['gallery']" routerLinkActive="active">
      Gallery
    </button>
    <button type="button" class="btn btn-outline-danger p d" [routerLink]="['jobs']" routerLinkActive="active">
      Jobs
    </button>
    <button type="button" class="btn btn-outline-danger p d" [routerLink]="['business-post']" routerLinkActive="active">
      Business Post
    </button>
  </div>
</div>