<div class="padding">
  <ul class="breadcrumb">
    <li>
      <a href [routerLink]="['/']">Home</a>
    </li>
    <li>
      <a href [routerLink]="['/products']">Products</a>
    </li>
    <li class="truncate" *ngIf="category.subCategories;else link">
      {{category.categoryName}}
    </li>
    <ng-template #link>
      <li>
        <a href [routerLink]="['/','products',category.productCategory.urlName]" [queryParams]="{c:category.productCategory.categoryUuid}">
          {{category.productCategory.categoryName}}
        </a>
      </li>
      <li class="truncate">
        {{category.subCategoryName}}
      </li>
    </ng-template>
  </ul>
</div>