
.un-subscribe-card
{
  width: 65%;
  margin: auto;
  margin-top: 6%;
}
.heading
{
  color: #ff3f12;
    font-size: 36px;
    display: inline-block;
    margin-bottom: 24px;
    font-weight: bold;
}

mat-form-field
{
  width: 80%;
}
.complaint-box
{
      margin: 0 0 0 75px
}
.global-btn
{
  width: 17%;
}
.mat-stroked-button
{       width:auto;

}
.un
{
  
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { 
    padding: 5px 0px;
  }
  ::ng-deep .mat-form-field-label-wrapper { 
    top: -1.5em; 
  }
  
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix{
    top:-3px !important;
  }