@import '../../css/back-to-top.css';

.cart-page{
    margin-top: 30px;
    margin-bottom: 10%;
}
.nav-tabs {
    margin-bottom: 1px;
}
.nav-item{
    width: 50%;
    text-align: center;
}
.nav-link.active{
    border-top: solid #3374b6;    
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    color: #3374b6;
}
.nav-link {
    color: rgb(153, 153, 153);
    border: none;
}

