<mat-card *ngIf="similarProducts?.length > 0">
  <div>
    <h4 class="slider-title">Similar Products</h4>
  </div>

  <ngu-carousel [inputs]="carousel" [dataSource]="similarProducts">
    <div class="item" *nguCarouselDef="let product;let i=index">

      <div class="ribbon" *ngIf="product.discount">
        <span class="ribbon1">
          <span>{{product.discount}} %
            off</span>
        </span>
      </div>

      <div class="text-center  pl-3 pr-3">
        <div class="item-img">
          <a href="/products/{{product.productUrlName}}/p/{{product.productUuid}}" target="_blank">
            <img mat-card-lg-image [src]="contentServer + product.mainImage" alt="Product" onError="this.src='../assets/not-found/no_image.png';">
          </a>
        </div>

        <div class="item-name">
          <a href="/products/{{product.productUrlName}}/p/{{product.productUuid}}" matTooltip="{{product.productName}}"
            target="_blank">
            {{product.productName | namePipe}}
          </a>
        </div>

        <div class="item-sme-name">
          <a href="/sme/{{product.sUuid}}" target="_blank" matTooltip="{{product.smeName}}">
            {{product.smeName | namePipe}}
          </a>
        </div>

        <div *ngIf="product.discount; else originalPrice">
          <span class="line-through-price">
            {{product.price | IndianCurrency}}
          </span>
        </div>
        <ng-template #originalPrice>
          <span class="hidden"></span>
          <br>
        </ng-template>

        <div class="original-price">
          {{product.discountedPrice | IndianCurrency}}
          <span *ngIf="product.priceUnit">
            / {{product.priceUnit}}
          </span>
        </div>

        <div *ngIf="sUuid === product.sUuid;else check">

        </div>

        <ng-template #check>
          <button *ngIf="product.addedToCart" mat-stroked-button class="added-to-cart">
            Added to Cart <i class="material-icons">shopping_cart</i>
            <span class="cart-arrow-check"><i class="fa fa-check"></i></span>
          </button>
          <button *ngIf="!product.addedToCart" mat-stroked-button class="show-interest-btn" (click)="businessInterest(product.productUuid,i)">
            Show Interest <i class="fa fa-eye"></i>
          </button>
        </ng-template>
      </div>

    </div>

    <button NguCarouselPrev class="arrow-left">
      <i class="fa fa-angle-left arrow-icon-size"></i>
    </button>

    <button NguCarouselNext class="arrow-right">
      <i class="fa fa-angle-right arrow-icon-size"></i>
    </button>

  </ngu-carousel>

</mat-card>