<app-admin-header [isLoggedIn]="isLoggedIn"></app-admin-header>
<div class="fluid-container" #top>
  <div class="margin">
    <div class="row">
      <div class="col-md-2">
        <div class="text-center sticky-div f-12">
          <ul id="grouplist" class="list-group">
            <li class="list-group-item" routerLinkActive="active">
              <a routerLink="/gloqr-admin/dashboard">
                <span class="category-name">Dashboard</span>
              </a>
            </li>
            <li class="list-group-item" routerLinkActive="active" *ngIf="isSuperAdmin">
              <a routerLink="/gloqr-admin/add-external-category">
                <span class="category-name">Add External Category</span>
              </a>
            </li>
            <li class="list-group-item" routerLinkActive="active">
              <a routerLink="/gloqr-admin/new-smes">
                <span class="category-name">New SME's</span>
              </a>
            </li>
            <li class="list-group-item" routerLinkActive="active">
              <a routerLink="/gloqr-admin/existing-smes">
                <span class="category-name">Existing SME's</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<div class="back-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <div>
    <button class="back-to-top-btn" [ngx-scroll-to]="top">
      <i class="fa fa-arrow-up">
      </i>
    </button>
  </div>
</div>