<mat-card class="container mb-5 mt-5">
    <h3 class="page-title">
        About Us
    </h3>
    <p class="content">
        <a href="https://www.gloqr.com" class="text-red text-bold">gloqr<sup>®</sup></a>
        <span class="text-bold"> 'the business social app' </span>
        like human beings businesses also need social environment to grow fast and effectively.
        gloqr is a digital platform specially designed for Small and Medium Enterprises (SME’s).
    </p>
    <div class="sub-title">
        gloqr offers following features for SME’s :
    </div>
    <p></p>
    <ul class="list-content">
        <li>
            <p class="sub-title">gloqr shop</p>
            <div class="content">
                List your business on gloqr precisely with detail information to go global.
                You can list your business information like
                <ul>
                    <li>
                        Products you manufacture or deal with.
                    </li>
                    <li>
                        Services you offer.
                    </li>
                    <li>
                        Infrastructure like machinery, building or instruments.
                    </li>
                    <li>
                        Display work culture in galleries.
                    </li>
                    <li>
                        Show the powerful minds behind the business in management team (section) with experience and
                        expertise
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <p class="sub-title">gloqr jobs</p>
            <div class="content">
                Recruit the operators and office staff with gloqr. Just upload the job recquirement and start receiving
                resumes of interested candidates.
            </div>
        </li>
        <li>
            <p class="sub-title">gloqr salesman</p>
            <p class="content">
                Now send quotations without human interference, let gloqr be your sales executive. Send instant
                quotations when you are not in office or enjoying your holidays. Manage all the leads at one place in
                cart. </p>
        </li>
        <li>
            <p class="sub-title">gloqr mylead</p>
            <p class="content">
                Allows you to receive a lead information clicked on your products or services. gloqr never shares your
                leads to other suppliers, your lead is only yours. Other lead generating sites share your product or
                services lead to multiple suppliers which lowers the possibility of conversion of lead to business
            </p>
        </li>
        <li>
            <p class="sub-title">gloqr circle</p>
            <p class="content">
                Don’t sit idle in wait and watch mode, Now take the proactive approach. Connect with other businesses or
                prospective customers by sending Circle Invite Request & build your Business Social Circle. You can
                broadcast specific business information to your business circle like 1) Purchase of a new machinery. 2)
                Start of a new branch. 3) Acquisition of new big a customer. 4) Completion of a flagship project. 5)
                Successful delivery and installation of a critical project. 6) New product release, new capacity
                addition and so on. Let your Business circle know what you are doing, and if you want to share the same
                information openly to all the people globally then post it in public mode, That information will appear
                on your gloqr page in social post section.
            </p>
        </li>
    </ul>
    <p></p>
    <p class="content">
        So publish your SME on gloqr now and see the difference.
    </p>
</mat-card>
<!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="../../../assets/card-sample/card-sample1.jpg">
        </div>
        <div class="col-md-6">
                <img src="../../../assets/card-sample/blank-card-1.jpg" class="new-image"> 

                <p class="company-name">Pratik Industries</p>

                <p class="emp-name">Alfaz Shaikh</p>

                <p class="address">GIDC ESTATE, Ahmedabad</p>

                <p class="address1">Gujarat, 390010</p>
                <p class="phone">+91-7249123457</p>

                <p class="email">pratik.pawar@gloqr.com</p>
        </div>
    </div>
</div> -->