<mat-card class="container mb-5 mt-5">

  <h3 class="page-title">
    Shipping
  </h3>

  <div class="sub-title">
    What are the delivery charges?
  </div>

  <p class="content">
    Delivery charge varies with each Seller.
    You can trust that your order will be quickly processed and safely delivered.
  </p>

  <p class="content">
    When you place an order we will estimate delivery dates based upon the availability of your item(s), shipping method
    selected and your shipment’s destination.
    Items in stock will typically ship out in 2-3 business days.
  </p>

  <div class="sub-title">
    Shipping Charges
  </div>

  <p class="content">
    Our shipping charges are determined by the weight of your order and shipping method selected, excluding applicable tax.
  </p>

  <div class="sub-title">
    Why does the estimated delivery time vary for each seller?
  </div>

  <p class="content">
    You have probably noticed varying estimated delivery times for sellers of the product you are interested
    in. Delivery times are influenced by product availability, geographic location of the Seller, your shipping
    destination and the courier partner's time-to-deliver in your location.
  </p>

</mat-card>

