<div class="wrap">
    <div class="title row no-margin">
        <div class="col-md-9 no-padding">
            <h4>Gallery</h4>
        </div>
        <div class="col-md-2 no-padding">
            <button mat-mini-fab color="primary" [routerLink]="['../add-gallery']">
                <i class="material-icons">add</i>
            </button> Add Gallery
        </div>
    </div>
    <div class="sme-objects mt-2">
        <div class="col-md-12">
            <mat-card class="item-card" *ngFor="let smeGallery of smeGalleries; let i=index">
                <div class="item-title">
                    {{smeGallery.galleryTitle}}
                </div>
                <div class="item-desc">
                    <div class="row">
                        <div class="col-md-2 sub-title">
                            Description:
                        </div>
                        <div class="col-md-10 sub-title-desc">
                            {{smeGallery.description}}
                        </div>
                    </div>
                </div>
                <div class="item-desc">
                    <div class="row">
                        <div class="col-md-2 sub-title">
                            Images:
                        </div>
                        <div class="col-md-10 sub-title-desc" *ngIf="showImages">
                            <ngx-gallery [options]="galleryOptions"
                                [images]="getImageFromGalleryMap(smeGallery.galleryUuid)"></ngx-gallery>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div *ngIf="showSpinner" class="spinner">
        <mat-spinner strokeWidth="5" [diameter]="50"></mat-spinner>
    </div>

    <div *ngIf="notFound">
        <img alt="Not Found" class="not-found-image" src="../../../../assets/not-found/no-data-found.png">
    </div>
</div>