<div class="container">
  <form *ngIf="otpData" class="mt-3">
    <mat-form-field>
      <input matInput placeholder="OTP sent on " value="{{otpData.username}}" disabled>
      <div class="div-link" (click)="change()" matSuffix>Change?</div>
    </mat-form-field>
  </form>

  <form [formGroup]="forgotPassForm" class="mt-2">
    <div class="mb-3">
      <mat-form-field>
        <input formControlName="otp" matInput placeholder="Enter OTP" maxlength="3">
        <div class="div-link" (click)="resendOtp()" matSuffix>Resend?</div>
        <mat-error *ngIf="forgotPassForm.get('otp').hasError('required')">
          please enter OTP
        </mat-error>
        <mat-error *ngIf="forgotPassForm.get('otp').hasError('pattern')">
          only numbers are allowed
        </mat-error>
        <mat-error *ngIf="forgotPassForm.get('otp').hasError('invalidOtp')">
         {{invalidOtpErrorMsg}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field>
        <input type="password" matInput placeholder="Enter New Password" formControlName="newPassword">
        <mat-error *ngIf="forgotPassForm.get('newPassword').hasError('required')">
          Password is required
        </mat-error>
        <mat-error
          *ngIf="forgotPassForm.get('newPassword').hasError('minlength') || forgotPassForm.get('newPassword').hasError('maxlength')">
          Password must be between 5 to 20 characters
        </mat-error>
      </mat-form-field>
    </div>


    <div class="btn-parent">
      <button mat-raised-button class="verify-btn" (click)="saveNewPassword()">Change Password</button>
    </div>

  </form>
</div>