<div class="container-fluid">
  <div class="fluid-container">
    <mat-card>
      <h4>
        Infrastructures
      </h4>
      <div class="table table-striped f-12" *ngIf="smeInfrastructure">
        <table class="table">
          <thead>
            <tr class="text-center">
              <th>#</th>
              <th>Machine Name</th>
              <th>Prevoius Feedback</th>
              <th>Current Feedback</th>
              <th>State</th>
              <th>Created Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngFor="let infrastructure of smeInfrastructure;let i=index">
            <tr class="text-center"
              [ngClass]="{'approve-tr':infrastructure.isApprove,'reject-tr':infrastructure.isReject}">
              <td>
                <div class="checkbox">
                  <input type="checkbox" [disabled]="disableFlag" [checked]="infrastructure.isSelected">
                </div>
              </td>
              <td>{{infrastructure.machineName}}</td>
              <td matTooltip="{{infrastructure.feedbackMessage}}">{{infrastructure.feedbackMessage | feedBackMsgPipe}}
              </td>
              <td>{{infrastructure.frontFeedBackMessage}}</td>
              <td>
                {{infrastructure.itemState}}</td>
              <td>{{infrastructure.creationDate | date:'medium'}}</td>
              <td><a href="" onclick="return false" (click)="onViewInfraDetail(infrastructure,i)" class="view-detail">
                  View Detail </a></td>
            </tr>
          </tbody>
        </table>


        <div class="container">
          <div class="row" style="margin-top: 25px;margin-left: 270px">
            <div style="margin: 10px">
              <button type="button" class="btn btn-outline-dark">
                Approve Selected: {{approveSelectedSize}}
              </button>
            </div>
            <div style="margin: 10px">
              <button type="button" class="btn btn-outline-dark">
                Rejection Selected: {{rejectSelectedSize}}
              </button>
            </div>
            <div style="margin: 10px" *ngIf="showButton;else disabled">
              <button mat-raised-button class="global-btn" (click)="onSubmit()">
                Submit
              </button>
            </div>
            <ng-template #disabled>
              <div class="text-center">
                <button disabled type="button" class="btn btn-default ">
                  <mat-spinner class="spinner" strokeWidth="4" [diameter]="15">
                  </mat-spinner> Saving...please wait
                </button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div *ngIf="showSpinner" class="spinner">
        <mat-spinner strokeWidth="5" [diameter]="50"></mat-spinner>
      </div>

      <div *ngIf="notFound">
        <img alt="Not Found" class="not-found-image" src="../../../../assets/not-found/no-data-found.png">
      </div>
    </mat-card>
  </div>
</div>