<mat-card class="container mb-5 mt-5">

  <h3 class="page-title">
    Return & Cancellations
  </h3>

  <div class="sub-title">
    Return Policy
  </div>

  <p class="content">
    If you are dissatisfied with your order for any reason, you can return your items for a prompt refund or exchange.
    Refunds for items returned within 15 days of the purchase date will be credited in the full amount (excluding shipping
    charges) and the same form as the original payment type. Any claims for damaged order or missing items must be
    received
    within 2 business days of receipt of package.
  </p>

  <ul class="list-content">
    <li>the items must be returned for refund or exchange within 15 days of original purchase</li>
    <li>items and packaging must be received in new condition</li>
    <li>the original manufacture's packaging must not be damaged</li>
    <li>packaging must include all original items, manuals etc.</li>
    <li>return Authorization Number must be clearly marked on the shipping box</li>
    <li>return package must include copy of the original invoice or sale receipt</li>
  </ul>

  <div class="sub-title">
    Cancellations
  </div>

  <p class="content">
    If you would like to cancel your order, you can do so provided that the order has not yet been shipped. If the item
    you
    want to cancel has been shipped, the order cannot be canceled. However, you can return the item for a refund. See
    our
    Return policy.
  </p>

</mat-card>