@import'../../../../../app/css/super-admin.css';
@import'../../../../../app/css/product-service-fiter.css';
.card-header{
    text-transform: unset;
}
li{
    width: 50%;
}
.nav-link.active{
    border-bottom: solid #3374b6;    
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    color: #3374b6;
}
.nav-link {
    color: rgb(153, 153, 153);
    border: none;
}